In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 10)

import matplotlib.pyplot as plt

from numpy import log as ln

In [2]:
# !rm /home/cjd/COVID19/*.csv
# !wget https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv
# !wget https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv

In [3]:
region = [
'Vermont', 
'New York',
'New Hampshire',
'Massachusetts',
'Quebec',
]

In [4]:
cases_reg = pd.read_csv('/home/cjd/COVID19/time_series_19-covid-Confirmed.csv')

cases_reg = cases_reg.drop(columns=['Lat', 'Long', 'Country/Region'])

cases_reg = cases_reg.loc[cases_reg['Province/State'].isin(region)]
cases_reg = cases_reg.set_index('Province/State')

cases_reg = cases_reg.sort_values(by=[cases_reg.columns[-1]], ascending=False)

cases_reg

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
Province/State,,,,,,,,,,,
New York,0,0,0,0,0,...,732,967,1706,2495,5365
Massachusetts,0,0,0,0,0,...,164,197,218,218,328
Quebec,0,0,0,0,0,...,24,50,74,94,121
New Hampshire,0,0,0,0,0,...,13,17,26,26,44
Vermont,0,0,0,0,0,...,8,12,12,18,22

In [5]:
deaths_reg = pd.read_csv('/home/cjd/COVID19/time_series_19-covid-Deaths.csv')

deaths_reg = deaths_reg.drop(columns=['Lat', 'Long', 'Country/Region'])

deaths_reg = deaths_reg.loc[deaths_reg['Province/State'].isin(region)]
deaths_reg = deaths_reg.set_index('Province/State')

deaths_reg = deaths_reg.sort_values(by=[deaths_reg.columns[-1]], ascending=False)

deaths_reg

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
Province/State,,,,,,,,,,,
New York,0,0,0,0,0,...,3,10,13,16,34
Quebec,0,0,0,0,0,...,0,0,0,0,1
Massachusetts,0,0,0,0,0,...,0,0,0,0,0
New Hampshire,0,0,0,0,0,...,0,0,0,0,0
Vermont,0,0,0,0,0,...,0,0,0,0,0

In [6]:
calc_reg = pd.DataFrame()
calc_reg['Cases'] = cases_reg.loc[:,cases_reg.columns[-1]]
calc_reg['Deaths'] = deaths_reg.loc[:,deaths_reg.columns[-1]]
calc_reg['Case Fatality Rate'] =  (calc_reg['Deaths'] / calc_reg['Cases']) * 100.0
calc_reg = calc_reg.sort_values(by=['Case Fatality Rate'], ascending=False).round(1)
calc_reg

                Cases  Deaths  Case Fatality Rate
Province/State
Quebec            121       1                 0.8
New York         5365      34                 0.6
Massachusetts     328       0                 0.0
New Hampshire      44       0                 0.0
Vermont            22       0                 0.0

In [7]:
cases_doubling_time_reg = ln(2)/ln(1 + cases_reg.pct_change(axis='columns'))
cases_doubling_time_reg = cases_doubling_time_reg.loc[ :, cases_reg.columns[-10:] ]

cases_doubling_time_reg.sort_values(by=[cases_doubling_time_reg.columns[-1]]).round(1)

,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
Province/State,,,,,,,,,,
New York,0.0,2.9,1.7,2.8,3.1,2.1,2.5,1.2,1.8,0.9
New Hampshire,0.0,3.1,3.8,inf,4.5,1.1,2.6,1.6,inf,1.3
Massachusetts,0.0,21.6,5.4,5.3,6.0,4.0,3.8,6.8,inf,1.7
Quebec,inf,1.0,5.9,1.1,inf,2.0,0.9,1.8,2.9,2.7
Vermont,0.0,inf,1.0,inf,0.8,1.5,1.7,inf,1.7,3.5

In [8]:
deaths_doubling_time_reg = ln(2)/ln(1 + deaths_reg.pct_change(axis='columns'))
deaths_doubling_time_reg = deaths_doubling_time_reg.loc[ :, deaths_reg.columns[-10:] ]

deaths_doubling_time_reg.sort_values(by=[deaths_doubling_time_reg.columns[-1]]).round(1)

deaths_doubling_time_reg

# deaths_doubling_time_reg.style.background_gradient(cmap='Reds_r', vmin=1.0, vmax=10).format("{:.1f}")

,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
Province/State,,,,,,,,,,
New York,NaN,NaN,NaN,NaN,0.0,1.709511,0.575717,2.641927,3.338226,0.919572
Quebec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pop_list = [
    {'Province/State': 'New York', 'population': 19.54e6}, 
    {'Province/State': 'Massachusetts', 'population': 6.902e6}, 
    {'Province/State': 'Quebec', 'population': 8.485e6}, 
    {'Province/State': 'Vermont', 'population': 626299},
    {'Province/State': 'New Hampshire', 'population': 1.356e6},
]

pop = pd.DataFrame(pop_list)
pop = pop.set_index('Province/State')
pop['per_million'] = pop['population']/1e6

# pop

cases_reg_pm = cases_reg.div(pop['per_million'], axis=0).round(1)

cases_reg_pm

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
Province/State,,,,,,,,,,,
Massachusetts,0.0,0.0,0.0,0.0,0.0,...,23.8,28.5,31.6,31.6,47.5
New Hampshire,0.0,0.0,0.0,0.0,0.0,...,9.6,12.5,19.2,19.2,32.4
New York,0.0,0.0,0.0,0.0,0.0,...,37.5,49.5,87.3,127.7,274.6
Quebec,0.0,0.0,0.0,0.0,0.0,...,2.8,5.9,8.7,11.1,14.3
Vermont,0.0,0.0,0.0,0.0,0.0,...,12.8,19.2,19.2,28.7,35.1

In [10]:
%matplotlib



styles = ['b-','g-.','k--','r:','m.-','co-','ys-']

for i,name in enumerate(region):

    ax = cases_reg_pm.loc[ name, cases_reg_pm.columns[-10:] ].plot(style=styles[i])


ax.set_title('Cases in Vermont and Surrounding States', fontsize=26)
ax.set_xlabel('Date', fontsize=20)
ax.set_ylabel('Number of Cases Per Million Residents', fontsize=20)

ax.legend(region, loc='upper left', fontsize=20)

ax.grid(True, alpha=0.25)

plt.show()

Using matplotlib backend: GTK3Agg